---
import { clsx } from 'clsx'

import type { Article } from '@/types/api/article'

export interface Props {
  article: Article
}

const { article } = Astro.props
---

<div class={clsx('tw-flex tw-flex-col', 'tw-gap-4')}>
  <p class={clsx('tw-text-lg tw-font-bold')}>{article.title}</p>
  {
    article.eyeCatchImageUrl && (
      <img
        src={article.eyeCatchImageUrl}
        alt={article.title}
        height={400}
        width={600}
      />
    )
  }
  <p class={clsx('tw-text-base')}>{article.content}</p>
  <p class={clsx('tw-text-sm')}>{article.createdAt}</p>
</div>
